*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, Helvetica, sans-serif;
    overflow-y: hidden;
}
main {
    padding-block-start: 74px;
    padding-inline: 24px;
    filter: blur(20px);
}
section {
    max-width: 900px;
    margin: 0 auto;
}
h1 {
    font-family: roboto;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 34px;
}
section img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 32px;
}
section p {
    font-size: 18px;
    line-height: 1.6;
}

.consent-modal{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consent-modal__content {
    background-color: #f1f1f1;
    padding: 28px;
    border-radius: 5px;
    margin-block-end:5vw;
    border: 1px solid #1f293765;
}
.consent-modal__text {
    font-size: 20px;
    margin-bottom: 28px;
}
.consent-modal__text--bolder {
    font-weight: 600;
}
.consent-modal-choices{
    display: flex;
    justify-content: center;
}
.consent-modal-btn,
.consent-modal-link   {
    font-family: Roboto;
    flex-basis: 125px;
    padding: 10px 8px;
    cursor: pointer;
    font-size: 14px;
    color: #f1f1f1;
    font-weight: 600;
    border-radius: 5px;
}
.consent-modal-link{
    margin-right: 12px;
    background-color: #1f2937;
    text-align: center;
    text-decoration: none;
}
.consent-modal-btn{
    background-color: #1a56db;
    border: none;
    color: #f1f1f1;
}













